<div class="row">
  <div class="center-align col-xs-12">
    <form {{action "createCategory" on="submit"}} class="center-align">
      {{input class="form-control" value=name placeholder="New Category..."}}
      <button class="btn btn-success"><i class="fa fa-plus-circle"></i></button>
    </form>
  </div>
</div>
