<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="center-align-space-between">
      <span>Lists</span>
      {{outlet 'newList'}}
      {{#link-to 'lists.new-list'}}<i class="fa fa-plus-circle"></i>{{/link-to}}
    </h2>
  </div>
  <div class="panel-body center-align flex-wrap">
    {{#each model as |list|}}
      {{#link-to 'lists.list' list.id class="btn btn-default btn-lg"}}{{list.name}}{{/link-to}}
    {{/each}}
  </div>
</div>

{{outlet 'list'}}
